.main-page {
    
    width: 100%;
    height: 100%;

    position: fixed;

    > [data-object-name="split"] {
        width: 100%;
        height: 100%;
        > .app-component-split-left {
            flex: 0 0 15%;
        }
        > .app-component-split-right {
            
        }
        > .app-component-split-handler {
            flex: 0 0 7px;
            width: 7px;
            background: #024F7B;
        }
    }

    [data-object-name="left-pane"] {
        height: 100%;
    }

    [data-object-name="collapsed"] {
        height: 100%;
        background: #024F7B;
        .app-component-icon {
            cursor: pointer;
            svg {
                path {
                    fill: #ffffff;
                }
            }    
        }
    }

    [data-object-name="expanded"] {
        height: 100%;
        background: #024F7B;
        &.app-component-shown {
            display: grid;
        }
        grid-template-rows: 40px calc(100% - 40px);
    }

    [data-object-name="menu"] {
        padding: 10px;
        > .nodes > .node > div:not([data-object-name]) span {
            color: #ffffff;
        }
        .nodes .node > div:not([data-object-name]).selected {
            background: #233a52;
        }
        .nodes .node > div:not([data-object-name]):hover {
            background: #4f749b;
        }
        .nodes .node > div:not([data-object-name]) .expander {
            background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 0.5H2C1.17157 0.5 0.5 1.17157 0.5 2V10C0.5 10.8284 1.17157 11.5 2 11.5H10C10.8284 11.5 11.5 10.8284 11.5 10V2C11.5 1.17157 10.8284 0.5 10 0.5Z' stroke='white'/%3E%3Cpath d='M8.76929 5.53845H3.23083C2.97593 5.53845 2.76929 5.74509 2.76929 5.99999V5.99999C2.76929 6.25489 2.97593 6.46153 3.23083 6.46153H8.76929C9.02419 6.46153 9.23083 6.25489 9.23083 5.99999C9.23083 5.74509 9.02419 5.53845 8.76929 5.53845Z' fill='white'/%3E%3Cpath d='M5.99999 2.76923H5.99999C5.74509 2.76923 5.53845 2.97586 5.53845 3.23076V8.76923C5.53845 9.02413 5.74509 9.23077 5.99999 9.23077C6.25489 9.23077 6.46153 9.02413 6.46153 8.76923V3.23076C6.46153 2.97586 6.25489 2.76923 5.99999 2.76923Z' fill='white'/%3E%3C/svg%3E%0A");
        }
        .nodes .expanded > div:not([data-object-name]) > .expander {
            background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 0.5H2C1.17157 0.5 0.5 1.17157 0.5 2V10C0.5 10.8284 1.17157 11.5 2 11.5H10C10.8284 11.5 11.5 10.8284 11.5 10V2C11.5 1.17157 10.8284 0.5 10 0.5Z' stroke='white'/%3E%3Cpath d='M8.76904 5.53845H3.23058C2.97568 5.53845 2.76904 5.74509 2.76904 5.99999V5.99999C2.76904 6.25489 2.97568 6.46153 3.23058 6.46153H8.76904C9.02394 6.46153 9.23058 6.25489 9.23058 5.99999C9.23058 5.74509 9.02394 5.53845 8.76904 5.53845Z' fill='white'/%3E%3C/svg%3E%0A");
        }
        .nodes .is-leaf > div:not([data-object-name]) > .expander {
            background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 0.5H2C1.17157 0.5 0.5 1.17157 0.5 2V10C0.5 10.8284 1.17157 11.5 2 11.5H10C10.8284 11.5 11.5 10.8284 11.5 10V2C11.5 1.17157 10.8284 0.5 10 0.5Z' stroke='white'/%3E%3Cpath d='M8 6C8 4.89543 7.10457 4 6 4C4.89543 4 4 4.89543 4 6C4 7.10457 4.89543 8 6 8C7.10457 8 8 7.10457 8 6Z' fill='white'/%3E%3C/svg%3E%0A");
        }
        .node {
            span {
                color: #ffffff;
            }
        }
        svg {
            path {
                fill: #ffffff;
            }
        }
    }

    [data-object-name="toolbar-button-expand"],
    [data-object-name="toolbar-button-collapse"],
    [data-object-name="langs-change-button"],
    [data-object-name="comet-button"],
    [data-object-name="search-button"] {
        padding: 0px 13px;
        cursor: pointer;
        height: 100%;
        border-right: 1px solid #4081a7;
        padding-left: 10px;
        padding-right: 10px;
        &.app-component-shown {
            display: flex;
        }
        align-items: center;
        justify-content: center;
        svg {
            width: 24px;
            height: 24px;
        }
    }

    [data-object-name="search-button"] {
        svg {
            width: 16px;
            height: 16px;
            path, rect {
                stroke: white;
            }
        }
    }


}
