


.app-mainmenu-component {
    &.app-component-shown {
        display: flex;
    }
    align-items: center;
    justify-content: flex-start;

    .app-mainmenu-item-component {
        
        padding: 11px 12px;
        
        > .app-component-textspan {
            cursor: pointer;
            font-weight: 600;
            font-size: 12.5px;
            outline: none;
            color: #fff;
            text-decoration: none;
            line-height: 20px;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            svg {
                margin-left: 5px;
                margin-bottom: 2px;
            }    
        }

        &.blue > .app-component-textspan:hover,
        &.blue.-opened > .app-component-textspan {
            color: #5e9ff9;
        } 

        &.green .app-component-textspan:hover,
        &.green.-opened > .app-component-textspan {
            color: #50c14e;
        }

        &.orange .app-component-textspan:hover,
        &.orange.-opened > .app-component-textspan {
            color: #fdac39;
        }

        &.red .app-component-textspan:hover,
        &.red.-opened > .app-component-textspan {
            color: #eb6886;
        }

        &.magenta .app-component-textspan:hover,
        &.magenta.-opened > .app-component-textspan {
            color: #9b94f8;
        }

        .app-dropdown-item-component {

            position: absolute;
            // z-index: 999999;
            left: 0;

            // margin-top: 19px;
            margin-top: 11px;
            width: 100%;
            max-height: 450px;
            height: 80%;
            // padding: 20px;
            padding: 10px 20px 20px;
            overflow: auto;
            @include custom-scroll($scrollbar-size, $scrollbar-track-color, $scrollbar-thumb-color, $scrollbar-thumb-hover-color);

            &.app-component-shown {
                display: flex;
                animation-name: fadein;
                animation-duration: 0.3s;
                animation-iteration-count: 1;
                animation-timing-function: ease-in;
            }

            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: wrap;
            background: #ffffff;
            box-shadow: 0px 20px 20px rgba(0, 0, 0, .3);

            [data-object-name="close-button"] {
                position: absolute;
                right: 20px;
                top: 20px;
                cursor: pointer;
                transition: transform .2s;
                &:hover {
                    transform: rotate(180deg);
                    transform-origin: 45% 45%;
                }
            }
            &.app-component-hasmessage { 
                padding-top: 50px;
                max-height: 500px;
                [data-object-name="close-button"] {
                    top: 50px;
                }
                .app-menu-message-component {
                    margin-top: -50px;
                }
            }

            .app-menu-component {
                // padding: 40px 0px 0px 40px;
                padding: 20px 0px 0px 40px;

                > .app-component-textspan {
                    line-height: 1.43;
                    color: #404040;
                    font-size: 14px;
                    font-weight: 700;
                    padding-bottom: 10px;
                    display: block;
                }

                .app-menu-item-component {

                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    padding-bottom: 10px;
                    flex-wrap: wrap;
                    max-width: 350px;
                    position: relative;

                    [data-object-name="important"] {
                        position: absolute;
                        top: 3px;
                        margin-left: -15px;
                        width: 7px;
                        height: 10px;
                    }

                    [data-object-name="title"] {
                        cursor: pointer;
                        color: #2b7ece;
                        font-size: 14px;
                        font-weight: normal;
                        line-height: 1.43;
                        padding-left: 0;
                        padding-right: 0;
                        display: block;
                        &:not(.ui-disabled):hover {
                            color: #fdac39;
                        }

                        &.ui-disabled {
                            color: #ADB2C2;
                        }
                    }

                    [data-object-name="description"] {
                        &.app-component-shown {
                            display: block;
                        }
                        max-width: 350px;
                        color: #ADB2C2;
                        font-size: 12px;
                        font-weight: normal;
                        line-height: 1.43;
                        border: 1px solid #ededed;
                        padding: 10px 20px;
                        margin-top: 10px;
                        margin-bottom: 20px;
                    }

                    &:hover {
                        [data-object-name="description"] {
                            color: #63666e;
                            border: 1px solid #c7c7c7;
                        }
                    }

                    [data-object-name="help"] {
                        margin-left: 7px;
                        &.app-component-shown {
                            display: block;
                        }
                        visibility: hidden;

                        [data-object-name="help-icon"] {
                            display: block;
                            width: 14px;
                            height: 14px;    
                        }
                        
                        [data-object-name="help-icon-hover"] {
                            display: none;
                            width: 14px;
                            height: 14px;    
                        }

                        &:hover {
                            [data-object-name="help-icon"] {
                                display: none;
                            }
                            
                            [data-object-name="help-icon-hover"] {
                                display: block;
                            }
                        }

                        

                    }

                    &:hover {
                        
                        [data-object-name="help"] {
                            visibility: visible;
                        }

                    }
    

                }


            }

                
            .app-menu-message-component {
                position: absolute;
                width: 100%;
                &.app-component-shown {
                    display: flex;
                }
                align-items: center;
                justify-content: center;
                margin: -9px -20px;
                padding: 4px 0px;
                background: #eda847;
                [data-object-name="message-test"] {
                    color: #ffffff;
                    font-size: 14px;
                }

                [data-object-name="message-button"] {
                    margin-left: 10px;
                    padding: 6px 10px;
                    border: 0;
                    border-radius: 2px;

                    background-color: #fff;
                    color: #435466;
                    box-shadow: 0 6px 7px -4px rgb(153 153 153 / 10%);

                    font-size: 14px;
                    font-weight: 600;
                    text-align: center;
                
                }
            }
            
        }

        

    }

}