.app-profiledropdown-component {
    
    &.app-component-shown {
        animation-name: fadein;
        animation-duration: 0.3s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
    }

    width: 270px;
    .app-component-list {
        padding-bottom: 0px;
        
        .app-component-list-group {
            > span {
                background: #e0e3ea;
                margin: 5px 0px;
            }
            &:first-child {
                span {
                    background: transparent;
                    margin: 0px;
                }
                div {
                    &:first-child {
                        color: #9DA5BE;
                        &:hover {
                            background: transparent;
                            cursor: default;
                        }
                    }
                }
            }

            .app-component-list-item {
                &.app-component-shown {
                    display: flex;
                }
                border-bottom: 0px;
                align-items: center;
                justify-content: flex-start;
                svg {
                    margin-right: 10px;
                }
            }

        }
    }
}