.app-cometdropdown-component {
    
    &.app-component-shown {
        animation-name: fadein;
        animation-duration: 0.3s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
    }

    max-height: calc(100% - 120px);
    // min-height: 110px;
    width: 330px;
    padding: 0px;
    overflow: hidden;

    grid-template-rows: 100%;

    [data-object-name="search"] {
        border: solid 1px #d1d7e9;
    }
    
    [data-object-name="list"] {

        max-height: 500px;
        width: 100%;
        height: 100%;
        
        padding-bottom: 0px;

        display: grid;
        grid-template-rows: 100%;
        &.-has-more {
            grid-template-rows: calc(100% - 46px) 44px;
        }

        
        .app-component-list-group {
            > div {
                .app-component-list-item {
                    border-bottom: 0px;
                    &[data-route="/neworg/"] {
                        color: #4ab648;
                    }
                }
                
            }

            &:last-child {
                margin-bottom: 0px;
            }

            &[data-object-name="events"] {
                overflow: auto;
            }

            &[data-object-name="showall"] {
                .app-component-list-item {
                    padding-left: 30px;
                    border-top: solid 1px #d1d7e9;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    color: #0095FF;
                }
            }

        }

        .app-component-flexbox {
            position: relative;
            align-items: flex-start;
            width: 100%;
            .app-component-icon {
                padding-top: 3px;
                margin-right: 10px;
                svg {
                    width: 18,33px;
                    height: 15px;
                }
            }
            .app-component-pane {
                flex: 1 1;
                
                span {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    color: #14151A;
                    display: block;
                }
                em {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    color: #7D859B;
                    display: block;
                    font-style: normal;
                }

            }
            .app-component-textspan {
                padding-right: 20px;
                margin-top: 4px;
            }

            [data-object-name="remove"] {
                position: absolute;
                right: 0px;
                top: 6px;
                margin: 0px;
                padding: 0px;
                svg {
                    width: 10px;
                    height: 10px;
                }
            }

        }
    }

}