.app-main-page-header-component {
    background-color: #5a6675;
    border-bottom: 1px solid #727c89;
    color: #ced1d6;
    // min-height: 60px;
    min-height: 42px;
    width: 100%;

    align-items: center;

    [data-object-name="buhsoft-icon"], [data-object-name="gb247-icon"] {
        margin: 0 12px 0 16px;
        width: 24px;
        height: 24px;
        // width: 30px;
        // height: 30px;
    }

    [data-object-name="header-links"] {
        margin-left: auto;

        .app-mainmenu-item-component {

            .app-component-textspan {
                display: flex;
                align-items: center;

                transform: opacity .5s;
                color: #ffffff;
                opacity: .6;
                &:hover {
                    opacity: 1;
                }

                svg {
                    margin-left: 5px;
                }
                
            }

            &[data-object-name="profile"] {
                svg {
                    margin-right: 10px;
                }
            }

            &[data-object-name="company"] {
                em {
                    display: block;
                    max-width: 180px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-style: normal;
                }
            }

            &[data-object-name="comet"] {
                padding: 11px 12px 11px 0px;
                // padding: 21px 12px 21px 0px;
                .app-component-textspan {
                    svg {
                        margin-left: 0px;
                        margin-bottom: 0px;
                    }
                }
                .badge {
                    position: absolute;
                    display: none;
                    &.-shown {
                        display: flex;
                    }
                    align-items: center;
                    justify-content: center;
                    width: 15px;
                    height: 15px;
                    margin: -20px 0px 0px 15px;
                    border-radius: 10px;
                    background: #ff0000;
                    font-weight: normal;
                    text-transform: none;
                    color: #ffffff;
                    font-size: 12px;
                    line-height: 1;
                    em {                        
                        display: block;
                        font-style: normal;
                        position: absolute;
                        left: -1px;
                        top: 2px;
                        width: 15px;
                        text-align: center;
                    }
                    
                }
            }

            
        }

    }
} 


