.app-archivedropdown-component {

    &.app-component-shown {
        animation-name: fadein;
        animation-duration: 0.3s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
    }

    .app-component-list {
        padding-bottom: 0px;
        
        .app-component-list-group {
            span {
                background: #e0e3ea;
                margin: 5px 0px;
            }
            &:first-child {
                span {
                    background: transparent;
                    margin: 0px;
                }
                div {
                    &[data-route="#"] {
                        color: #9DA5BE;
                        &:hover {
                            background: transparent;
                            cursor: default;
                        }
                    }
                }
            }

            .app-component-list-item {
                &.app-component-shown {
                    display: flex;
                }
                border-bottom: 0px;
                align-items: center;
                justify-content: flex-start;

                &:first-child {
                    &:hover {
                        background: transparent;
                    }
                }

                .dropdown-message {
                    position: relative; 
                    background: #837BF3;
                    border-radius: 3px;
                    color:#ffffff;
                    padding: 16px 20px; 
                    margin: 0px;
                    width: 270px;
                    &:hover {
                        background: #837BF3;
                    }
    

                    > svg {
                        position: absolute; 
                        right: 10px; 
                        top: 10px; 
                        cursor: pointer;
                    }

                    .message-title {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        span {
                            font-style: normal; 
                            font-weight: 600; 
                            font-size: 14px; 
                            line-height: 20px; 
                        }
                        svg {
                            margin-right: 10px;
                        }
                    }

                    div {
                        padding: 12px 0px;
                    }

                    button {
                        cursor: pointer;
                        background: transparent; 
                        border: 1px solid rgba(255, 255, 255, 0.3); 
                        box-sizing: border-box;
                        border-radius: 2px; 
                        width: 131px; 
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 20px;
                        color: #ffffff;
                    }

                }


            }

        }
    }
}