.app-main-tabs-component {
    width: 100%;
    > .tabs-header-container {
        background: #024F7B;
        border-bottom: 0px;
        width: 100%;

        position: static;
        z-index: 0;
        top: 0px;
        
        > .tabs-header {
            order: 2;
            justify-content: flex-start;
            max-width: 100%;
            overflow: hidden;
            overflow-x: auto;
            @include custom-scroll(
                1px,
                #024F7B,
                #4081a7,
                #4081a7);

            > * {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0px 13px;
                cursor: pointer;
                border-right: 1px solid #4081a7;
                margin: 0px;
                color: white;
                font-weight: normal;
                [data-object-name$="-icon"] {
                    svg {
                        path, circle {
                            fill: #ffffff;
                        }
                    }
                }
                [data-object-name$="-text"]:not(:empty) {
                    margin-left: 5px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                [data-object-name$="-close"] {
                    width: 14px;
                    height: 14px;
                    margin-left: 10px;
                    opacity: 0;
                    background: transparent;
                    svg {
                        width: 12px;
                        height: 12px;
                    }
                    &:hover {
                        opacity: .99;
                        svg {
                            path {
                                fill: #ffffff;
                            }
                        }
                    }
                }
                &.tab-selected {
                    background: white;
                    border-bottom: 0px;
                    color: black;
                    [data-object-name$="-icon"] {
                        svg {
                            path, circle {
                                fill: #024F7B;
                            }
                        }
                    }
                    [data-object-name$="-close"] {
                        opacity: .99;
                        svg {
                            path {
                                fill: #000000;
                            }
                        }
                    }
                    
                }
                
            }
        }
        > .tabs-links {
            order: 1;
            padding-left: 0px;
            margin-right: 0px;
            border-left: 1px solid #4081a7;
        }
    }
    >.tabs-container {
        padding: 20px;
    }
}
