.app-modules-mainframe-dashboard {
    
    overflow: auto;

    [data-object-name="container"] {
        
            &.app-component-shown {
                display: grid;
            }
        
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;
            gap: 20px;
        
    }

    .app-component-widget.drag-over {
        border-left: 2px dashed #c0c0c0;
        border-top: 2px dashed #c0c0c0;
    }

}