.app-modules-mainframe-widgets-serverstatistics {
    
    .app-component-note {
        margin-bottom: 20px;
    }
    
    [data-object-name="split"] {
        .app-component-split-left {
            flex: 0 0 60%;
        }
        .app-component-split-right {
        
        }
    }

    [data-object-name="processes"] {
        width: 100%;
        height: 150px;
    }

    .app-fields-viewer-component {
        > div {
            &.app-component-shown {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;
                gap: 0px;
                margin: 0px;

                .app-field-pane {
                    &.app-component-shown {
                        display: flex;
                    }
                    gap: 5px;
                    align-items: center;

                    > span {
                        font-size: 14px;
                        margin-bottom: 0px;
                        padding-bottom: 0px;
                    }

                    >div {
                        &.app-component-shown {
                            display: flex;
                        }
                        font-size: 12px;
                        font-weight: bold;
                    }

                    .app-viewer-component {
                        font-weight: bold;
                    }

                    .app-field-datetime {
                        >span {
                            &.app-component-shown {
                                display: flex;
                            }
                            gap: 10px;
                            span {
                                font-weight: bold;
                            }
                        }
                    }

                }
            }
        }
    }
}